/* Generalle indstillinger */

* {
    box-sizing: border-box;
}

html {
    margin: 0;
}

img {
    width: 100%;
}

/* -------------- MENU -------------- */

/* -------------- FORSIDE -------------- */

/* -------------- WORK -------------- */

/* -------------- ABOUT -------------- */

/* -------------- CONTACT -------------- */

/* -------------- FOOTER -------------- */
