/* Generalle indstillinger */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

img {
    width: 100%;

}

.hide {
    transition: 0.2s;
    opacity: 0;
    pointer-events: none;
}

.hidden {
    display: none;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}


.wrapreverse {
    flex-wrap: wrap-reverse;
}

.section-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.section-wrapper-forside {
    margin: 0 auto;

}

.knap {
    font-family: futura-pt, sans-serif;
    font-style: normal;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: normal;
    color: black;
    text-decoration: none;
    /*
    text-decoration: underline;
    color: black;
    transition: 0.2s;
*/

}

/*
.knap:hover {
    color: #8e8e8e;
    transition: 0.3s;
}
*/

/*
.text {
    flex-basis: 50%;
    flex-grow: 1;
}
*/

.beige {
    background-color: #f9faf8;
    width: 100vw;
}

/*
.billede {
    flex-basis: 450px;
    flex-grow: 1;
}*/


/* -------------- MENU -------------- */

#menu {
    background-color: #f9faf8;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    text-align: center;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
    transition: 0.3s;
}


.spacer {
    height: 60px;
    width: 100vw;
}

header {
    height: 60px;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 90;
    background-color: white;
}

#menuknap {
    z-index: 101;
    position: fixed;
    right: 20px;
    top: 14px;
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5rem;

}

.menuknapicon {
    width: 34px;
}

#menulist {
    list-style-type: none;
    color: black;
    padding-left: 0;
    margin-top: 25vh;
}

#menu a {
    color: black;
    text-decoration: none;
    transition: 0.3s;
}

#menu a:hover {
    color: #c6c6c6;
    transition: 0.3s;
}

.knap {
    color: #000;
    text-decoration: underline;
    transition: 0.3s;


}


.knap:hover {
    color: #c6c6c6;
    transition: 0.3s;
}

/*

.knap::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: visible;
    transform: scaleX(1);
    transition: all 0.3s ease-in-out 0s;
}
*/

/*
.knap:hover::before {
    visibility: visible;
    transform: scaleX(0);
}
*/

.knap2 {
    color: #000;
    text-decoration: underline;
    transition: 0.3s;


}


.knap2:hover {
    color: #c6c6c6;
    transition: 0.3s;
}


/*
.knap2::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: visible;
    transform: scaleX(1);
    transition: all 0.3s ease-in-out 0s;
}

.knap2:hover::before {
    visibility: visible;
    transform: scaleX(0);
}
*/

.logo {
    font-family: 'Optima';
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    position: fixed;
    left: 20px;
    top: 17.5px;
}

.logo a {
    margin-top: 0;
    text-decoration: none;
    color: black;
}

/*
.top-navn {
    text-align: center;
    font-family: 'Optima';
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    z-index: 100000;
    margin: 0 auto;
    margin-top: -40px;
    position: relative;
    pointer-events: none;
}
*/


.arrow {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;

}

.arrow img {
    width: 40px;
    opacity: 0.9;


}


/* -------------- TOP ANIMATION -------------- */

span {
    display: inline-block;
    overflow: hidden;
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    transition-delay: 0.2s;
}

.a1 {
    width: 21px;
}

.a2 {
    width: 62px;
}

.a3 {
    width: 80px;
}

span.hiddenn {
    width: 0px;
    opacity: 0;
}

.logo-wrapper {
    color: black;

}











/* -------------- FONTE -------------- */

@font-face {
    font-family: 'Optima';
    font-style: normal;
    font-weight: normal;
    src: local('Optima'), url('OPTIMA.woff') format('woff');
}


@font-face {
    font-family: 'Optima Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Optima Italic'), url('Optima_Italic.woff') format('woff');
}


@font-face {
    font-family: 'Optima Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Optima Medium'), url('Optima Medium.woff') format('woff');
}


@font-face {
    font-family: 'Optima Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Optima Bold'), url('OPTIMA_B.woff') format('woff');
}

/* -------------- FORSIDE -------------- */

#forside .wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 20px 20px 20px;
}


#forside .text {
    text-align: center;
    font-family: 'Optima';
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 30px;
    align-self: center;
    flex-basis: 100%;

}

.mySlides {
    height: 80vh;
    object-fit: cover;
    width: 100%;
}

#forside .box {
    flex-basis: 100%;
}

#about .img {
    flex-grow: 1;
    flex-basis: 100%;
    align-self: center;
    text-align: center;
}

#about .text {
    flex-grow: 1;
    flex-basis: 100%;
    text-align: center;
    font-family: 'Optima';
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 30px;
    align-self: center;
    padding: 70px;

}

#forside .text p {
    line-height: 35px;
}

#about .text p {
    line-height: 35px;
    padding-bottom: 20px;
}

#about .text h2 {
    text-align: center;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 30px;
}

#work .data-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    margin: 0 auto;
    grid-gap: 10px;
}

.grid-item {
    margin: 20px;
    text-align: center;

}

.grid-item .navn {
    font-family: 'Optima';
    text-align: center;
    font-size: 1.3rem;
}

.grid-item .knap {
    font-size: 0.8rem;
}

.section-header {
    font-family: futura-pt, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
}

.knap-container {
    text-align: center;
    margin-top: 20px;
}

.knap2 {
    font-family: futura-pt, sans-serif;
    font-style: normal;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: normal;
    color: black;

}


/*
#contact .col {
    flex-basis: 33%;
    flex-grow: 1;
}
*/

#contact .wrapper {
    justify-content: flex-start;

}

#contact .col1 {
    flex-grow: 2;
    text-align: left;
    flex-basis: 700px;
}

#contact .col2 {
    flex-grow: 1;
}

#contact .col3 {
    flex-grow: 1;

}

#contact .col {
    margin-bottom: 50px;
}



.p1 {
    font-family: 'Optima';
    text-transform: uppercase;
    font-size: 1.6rem;
    margin-top: 20px;
}

.p2 {
    font-family: futura-pt, sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    text-decoration: none;
    color: black;
    margin: 15px 0 5px 0;
    display: inline-block;
}

.p3 {
    font-family: futura-pt, sans-serif;
    font-size: 4.3rem;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 3px;

}

.p3_email {
    font-family: 'optima';
    font-weight: normal;
    color: black;
    font-size: 1.2rem;
    border-bottom: 1px solid black;
    text-decoration: none;
    padding-bottom: 5px;
}

#contact .knap {
    font-size: 1.3rem;
}


#contact {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

.img img {
    border-radius: 50%;
    width: 75%;
    padding-bottom: 5vw;
    padding-top: 5vw;
}

/* -------------- WORK -------------- */

#work-header .col {
    flex-grow: 1;
    flex-basis: 400px;
    align-self: center;

}


#work-header h1 {
    font-family: futura-pt, sans-serif;
    font-weight: normal;
    text-align: center;
    font-size: 4rem;
}

#work-header {
    margin-top: 30px;
}












/* -------------- ABOUT -------------- */
#about-header .col {
    flex-grow: 1;
    flex-basis: 400px;
    align-self: center;

}



#about-header h1 {
    font-family: futura-pt, sans-serif;
    font-weight: normal;
    text-align: center;
    font-size: 4rem;
}

#about-header {
    margin-top: 30px;
}

#abouttext .abouttext {
    text-align: center;
    font-family: 'optima', sans-serif;
    font-size: 1.3rem;
    padding: 50px;
}

#abouttext {
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 900px;
}

.client-header {
    text-align: center;
    font-family: futura-pt, sans-serif;
    font-weight: normal;
    font-size: 2rem;
}

.client-text {
    font-family: 'optima', sans-serif;
    font-size: 1.2rem;
    font-weight: normal;
    text-align: center;
    line-height: 35px;
}

#clients {
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 700px;
}








/* -------------- CONTACT -------------- */

.bg-img-contact {
    height: 85vh;
    width: 100%;
    background-image: url(billeder/samplebillede1.png);
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
}

#contact-header {
    margin-left: 20px;
    margin-right: 20px;
}

.contact-title {
    font-family: futura-pt, sans-serif;
    font-weight: normal;
    text-align: center;
    font-size: 4rem;
    position: absolute;
    top: 20vh;
    left: 40%;

}



/* -------------- FOOTER -------------- */


footer p {
    font-family: futura-pt, sans-serif;
    text-align: center;
    letter-spacing: 1px;

}












/* -------------- MEDIA QUERY -------------- */

@media only screen and (min-width: 800px) {
    /* -------   FOOTER ---------*/


    .p1 {
        font-family: 'Optima';
        text-transform: uppercase;
        font-size: 1.8rem;
        margin-top: 20px;
    }

    .p2 {
        font-family: futura-pt, sans-serif;
        text-transform: uppercase;
        font-size: 1.2rem;
        text-decoration: none;
        color: black;
        display: inline-block;
    }

    .p3 {
        font-family: futura-pt, sans-serif;
        font-size: 4.3rem;
        text-transform: uppercase;
        margin-bottom: 0;
        margin-top: 3px;
    }

    #contact .col1 {

        text-align: center;
        flex-grow: 2;
        flex-basis: 300px;

    }

    /* -------------- FORSIDE -------------- */

    #forside .text {
        text-align: center;
        font-family: 'Optima';
        font-style: normal;
        font-weight: normal;
        font-size: 1.5rem;
        line-height: 30px;
        align-self: center;
        flex-basis: 50%;

    }

    .mySlides {
        height: 80vh;
        object-fit: cover;
        width: 100%;
    }

    #forside .box {
        flex-basis: 50%;
    }

    #about .img {
        flex-grow: 1;
        flex-basis: 50%;
        align-self: center;
        text-align: center;
    }

    #about .text {
        flex-grow: 1;
        flex-basis: 50%;
        text-align: center;
        font-family: 'Optima';
        font-style: normal;
        font-weight: normal;
        font-size: 1.5rem;
        line-height: 30px;
        align-self: center;
        padding: 70px;

    }


}


@media only screen and (min-width: 600px) {








    #menu {

        font-size: 5rem;


    }

    /*
    header {
        background-color: transparent;
    }*/

    #forside .box {
        margin: 0;
    }

    #forside .text {
        margin: 0;
    }

    #contact {
        padding-top: 100px;
        padding-bottom: 100px;
        padding-left: 0px;
        padding-right: 0px;
    }




    /*

    .top-navn {
        text-align: center;
        font-family: 'Optima';
        font-style: normal;
        font-weight: normal;
        font-size: 1.5rem;
        z-index: 100000;
        margin: 0 auto;
        margin-top: -85px;
        position: relative;
        pointer-events: none;
    }
*/

    /* -------   MENU ---------*/

    #menu {
        background-color: #f9faf8;
        height: 100vh;
        width: 40vw;
        position: fixed;
        top: 0;
        right: 0;
        left: 60vw;
        z-index: 100;
        text-align: center;
        font-family: futura-pt, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 4rem;
        transition: 0.3s;
    }




}


@media only screen and (min-width: 300px) {

    /*
    #forside .box {
        margin: 40px;
    }

    #forside .mySlides {
        height: 50vh;
    }

    #forside .text {
        margin: 20px 0px;
    }
*/

    #about .text {
        padding: 0px 40px;

        font-size: 1.2rem;

    }

    #about .img img {
        margin-top: 30px;
    }

    /*
    #work.section-wrapper {
        max-width: 500px;
        margin: 40px 0px;
    }
*/

    #contact.section-wrapper {
        padding: 50px 30px;
    }
}
